.card {
    box-shadow: 0px 0px 2rem 0.5rem rgba(#6c63ff, 0.1);
    height: 25.5rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 1rem;
    margin-right: 1rem;
    min-width: 200px;
    max-width: 350px;
    transition: all 0.2s;

    @media (max-width: 600px) {
        height: 12rem;
        width: 5rem;
        margin-right: 1rem;
    }

    &-link {
        text-decoration: none;
    }

    &:hover {
        box-shadow: 0px 4px 2rem 0.2rem rgba(#6c63ff, 0.2);
    }

    &-header {
        color: white;
        display: flex;
        justify-content: space-between;
    }

    &-body {
        padding-bottom: 16px !important;
        display: flex;
        justify-content: space-between;

        &-text {
            display: inline-flex;
        }
    }

    &-img {
        border-radius: 1rem;
        min-height: 21.5rem;
        background-size: cover;

        @media (max-width: 600px) {
            min-height: 8rem;
        }
    }

    &-title {
        position: relative;
        // left: -10%;
        color: black;
        padding: 0.6rem 1.6rem;
        border-radius: 1rem;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgba(white, 0.9);
        max-width: 10rem;
        box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
    }
}

.title-fav {
    padding: 0;
}
