.event-page-container {
    font-family: inherit;
}

.event-page-card {
    width: 100%;
    border-radius: 4px;
}

.shadow-large {
    box-shadow: 0px 0px 4rem 0.5rem rgba(#6c63ff, 0.1);
}

.event-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    @media (max-width: 600px) {
        justify-content: center;
    }
}

.event-banner-image {
    height: 60vh;
}

.event-title {
    font-weight: 700;
}

.event-register-button {
    margin: 0 1rem 1rem;
    padding: 1rem 4rem;
}

div.event-page-content-container:last-child {
    padding-bottom: 2rem;
}

.ticket-select {
    min-width: 8rem;
}

.form-select {
    margin: 0.5rem 1rem 1rem 0;
}

div.MuiGrid-spacing-xs-2 {
    margin: 0 !important;
}
